:root {
    
    --secondary-color: #6c757d;
    --success-color: #9fdaa8;
    --info-color: #7fd8e6;
    --warning-color: #ffe082;
    --danger-color: #f19ea6;
    --light-color: #e6e6e6;
    --dark-color: #2a323d;

    --border-color: #3f4b5b;

    --window-height: 100vh;
    --header-height: 4.375rem;
    --footer-height: 4.375rem;

}