// PrimeReact styles
@import "primereact/resources/themes/bootstrap4-dark-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

// Custom variables
@import "variables";

// PrimeFlex styles
@import "primeflex/src/_variables.scss";
@import "primeflex/src/_grid.scss";
@import "primeflex/src/_formlayout.scss";
@import "primeflex/src/_display.scss";
@import "primeflex/src/_text.scss";
@import "primeflex/src/flexbox/_flexbox.scss";
@import "primeflex/src/_spacing.scss";
@import "primeflex/src/_elevation.scss";

// Utilities
@import "utilities";

// Body
body {
    margin: 0;
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-b);
    text-align: left;
}

// Sidebar
.p-sidebar-icons {
    height: var(--header-height);
    padding: 1.1875rem;
    border: 1px solid var(--border-color);
}

// Listbox
.p-listbox-list {
    height: calc(100% - 3.8125rem);
    padding: 0;
}
.p-listbox-list-wrapper {
    height: calc(100% - 3.8125rem);
}

//Scroolpanel
.p-scrollpanel-content {
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

//Toolbar
.p-toolbar-group-left {
    flex-grow: 1;
}

//Card
.p-card {
    box-shadow: none;
}

//Inline Message
.p-inline-message {
    word-break: break-all;
}